<main class="contenedor">
  <h1>Productos</h1>

  <section class="tarjeta">
    <h2>Buscar producto</h2>

    <input
      type="text"
      placeholder="Ejemplo: bike"
      [value]="searchText()"
      (input)="searchText.set($any($event.target).value)"
    />

    <button type="button" (click)="searchProducts()">Buscar</button>
    <button type="button" (click)="searchText.set(''); loadProducts()">Limpiar</button>
  </section>

  <section class="tarjeta">
    @if (error()) {
      <p class="error">{{ error() }}</p>
    } @else {
      <ul>
        @for (product of products(); track product.productId) {
          <li>
            {{ product.name }} - {{ product.productNumber }} - {{ product.listPrice }}
            <button type="button" (click)="viewDetail(product.productId)">Ver detalle</button>
          </li>
        }
      </ul>
    }
  </section>

  <section class="tarjeta">
    <h2>Detalle</h2>

    @if (selectedProduct()) {
      <p>ID: {{ selectedProduct()!.productId }}</p>
      <p>Nombre: {{ selectedProduct()!.name }}</p>
      <p>Numero: {{ selectedProduct()!.productNumber }}</p>
      <p>Color: {{ selectedProduct()!.color || 'Sin color' }}</p>
      <p>Precio: {{ selectedProduct()!.listPrice }}</p>
      <p>Peso: {{ selectedProduct()!.weight || 'Sin peso' }}</p>
    } @else {
      <p>Selecciona un producto para ver su detalle.</p>
    }
  </section>
</main>
